<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="ECP HOME SPIROMETRY DASHBOARD">
    <meta name="author" content="Ajit George">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}

    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" href="">
    {% load static %}
    {% block head %}
    {% endblock %}
    <!-- Link to Bootstrap CSS file -->
{#    <link rel="stylesheet" href="{% static 'ecp_hs_app/css/vendor/bootstrap/bootstrap.min.css' %}" type="text/css">#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <!-- Link to Materialize CSS file -->
{#   <link rel="stylesheet" href="{% static 'ecp_hs_app/css/vendor/materialize/materialize.min.css' %}" type="text/css">#}
    <link rel="stylesheet" href="{% static 'ecp_hs_app/css/clusterize.css' %}" type="text/css">

    <!-- Link to your css file -->
    <link rel="stylesheet" href="{% static 'ecp_hs_app/css/main.css' %}" type="text/css">
</head>

<body>
    {% include 'navbar.html' %}
    {#    <div class="container-fluid" align="center">#}
{#        <iframe style="position:fixed; top:50px;z-index:-1" src="http://free.timeanddate.com/clock/i76ltyh4/n605/fn7/fcfff/tc111/pceee/blt4/pa9/tt0/tw1/tm1/ts1/ta1/tb4" frameborder="0" width="147" height="58"></iframe>#}
{#    </div>#}
    {% block content %}{% endblock %}
    <!-- Link to Materialize JS file -->
    <!-- <script src="{% static 'ecp_hs_app/js/vendor/materialize/materialize.min.js' %}"></script> -->
    <!-- JQuery comes first in the list -->
    <script src="{% static 'ecp_hs_app/js/vendor/bootstrap/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'ecp_hs_app/js/vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'ecp_hs_app/js/vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script>
        function clock(){

        //Save the times in variables

        var today = new Date();
        var months = [ "January", "February", "March", "April", "May", "June",
           "July", "August", "September", "October", "November", "December" ];
        var days = [ "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var day =  days[[today.getDay()]];
        var month =  months[[today.getMonth()]];
        var dayweek = today.getDate();
        var hours = today.getHours();
        var minutes = today.getMinutes();
        var seconds = today.getSeconds();


        //Set the AM or PM time

        if (hours >= 12){
          meridiem = " PM";
        }
        else {
          meridiem = " AM";
        }


        //convert hours to 12 hour format and put 0 in front
        if (hours>12){
            hours = hours - 12;
        }
        else if (hours===0){
            hours = 12;
        }

        //Put 0 in front of single digit minutes and seconds

        if (minutes<10){
            minutes = "0" + minutes;
        }
        else {
            minutes = minutes;
        }


        document.getElementById("clock").innerHTML = (day + " " + month + " " + dayweek + ", " + hours + ":" + minutes + meridiem);

        }
        setInterval('clock()', 1000);
    </script>
    <script>
        /* To expand/collapse worklist */
        $(document).ready(function() {
            $("#hpr").hover( function(e) {
                e.preventDefault();
                $("#hprtxt").html("High&nbsp;Priority&nbsp;Worklist");

            }, function(e){e.preventDefault();$("#hprtxt").html("High&nbsp;Priority");});
            $("#lpr").hover( function(e) {
                e.preventDefault();
                $("#lprtxt").html("Low&nbsp;Priority&nbsp;Worklist");

            }, function(e){e.preventDefault();$("#lprtxt").html("Low&nbsp;Priority");});
        });
    </script>

{#    <script>#}
{#        /* To expand/collapse worklist */#}
{#        $(document).ready(function() {#}
{#            $("#workli").hover( function(e) {#}
{#                e.preventDefault();#}
{#                var offset = $(this).offset();#}
{#                $("#worklst").slideDown(200);#}
{#                $("#worklst").css('left', offset.left);#}
{#                $("#worklst").css('top', offset.scrollTop);#}
{#            }, function(e){e.preventDefault();$("#worklst").slideUp(200);});#}
{#        });#}
{#    </script>#}
    {%  block js %}
    {% endblock js %}
    <!-- Link to your js file -->
    <script src="{% static 'ecp_hs_app/js/clusterize.min.js' %}"></script>
    <script src="{% static 'ecp_hs_app/js/main.js' %}"></script>
</body>

</html>