<nav class="navbar-dark text-white bg-dark navbar navbar-expand-custom fixed-top">
      <a class="navbar-brand" id="#navbar1">ECP HOME SPIROMETRY&nbsp;&nbsp;&nbsp;&nbsp;
          <div id="clock" style="display: inline-block"></div>
     </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar1">
        <ul class="navbar-nav align-self-start">
            {% if user.is_authenticated %}
                <li class="nav-item">
                     <a id="back" class="nav-link" href="{{ request.session.uri }}">&laquo;&nbsp;Previous&nbsp;page</a>
                </li>
                <li class="nav-item">
                   <a class="navbar-text">&nbsp;User&nbsp;:&nbsp;{{ user.username }} </a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li id="formli" class="nav-item">
                    <a id="btn-form" class="nav-link dropdown-toggle" data-toggle="dropdown"> Open&nbsp;Form</a>
                </li>
            {% endif %}
            <li class="nav-item {{ home_page }}">
                <a class="nav-link" href="{% url 'ecp_hs_app:home' %}">Home</a>
            </li>
            <li class="nav-item {{ dashboard_page }}">
                 <a class="nav-link" href="{% url 'ecp_hs_app:dashboard_all_sites' %}">Dashboard</a>
            </li>
            <li class="nav-item {{ all_worklist_page }}">
                <a class="nav-link" href="{% url 'ecp_hs_app:all_worklist' %}">All&nbsp;Worklist</a>
            </li>
{#             <li class="nav-item {{ current_worklist_page }}">#}
{#                 <a class="nav-link" href="{% url 'ecp_hs_app:current_worklist' %}">Current&nbsp;Worklist</a>#}
{#             </li>#}
{#            <li id="workli" class="nav-item">#}
{#                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Current&nbsp;Worklist</a>#}
{#                <div id="worklst" class="dropdown-menu">#}
{#                    <a class="nav-link" href="{% url 'ecp_hs_app:highpr_worklist' %}">High&nbsp;Priority</a>#}
{#                    <a class="nav-link" href="{% url 'ecp_hs_app:lowpr_worklist' %}">Low&nbsp;Priority</a>#}
{#                </div>#}
{#            </li>#}
            <li id="hpr" class="nav-item {{ highpr_worklist_page }}">
                 <a id="hprtxt" class="nav-link" href="{% url 'ecp_hs_app:highpr_worklist' %}">High&nbsp;Priority</a>
            </li>
            <li id="lpr" class="nav-item {{ lowpr_worklist_page }}">
                <a id="lprtxt" class="nav-link" href="{% url 'ecp_hs_app:lowpr_worklist' %}">Low&nbsp;Priority</a>
            </li>
            {% if user.is_authenticated %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'ecp_hs_app:logout' %}">Sign&nbsp;Out</a>
                 </li>
            {% endif %}
            <li class="nav-item dropdown d-none">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="navbar-toggler-icon"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right bg-info" aria-labelledby="navbarDropdownMenu">
                </ul>
            </li>
        </ul>
      </div>
</nav>
