* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
h1 {
    font-family: Lato;
    font-size: 30px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 900;
    line-height: 44px;
    color: whitesmoke !important;
    background-color: #0c0c0c !important;
    padding: 8px;
    margin: 2px;
    box-shadow: 0px 0px 0px 2px #3c3c3c;
    border-radius: 4px;
}
h1 p{
    font-size: 20px;
}
#clock {
   font-size: 14px !important;
   font-family: Baskerville, Georgia;
}
/*h3 {*/
/*    font-family: Lato;*/
/*    font-size: 20px;*/
/*    font-style: italic;*/
/*    font-variant: small-caps;*/
/*    font-weight: 700;*/
/*    line-height: 15.4px;*/
/*}*/
.arr-bread {
  background-color: gray;
}
.arr-right .breadcrumb-item+.breadcrumb-item::before {
  content: "»";
  color: white;
}
.breadcrumb {
    margin: auto;
    border-color: black;
    border-radius: 0 0 0 0;
    /*background-color: lightgray !important;*/
    /*background-color: #f5f7fa; background-image: linear-gradient(315deg, #f5f7fa 0%, #eee 74%);*/
    background-color: #0c0c0c !important; color:whitesmoke !important;
    background-image: linear-gradient(315deg, #0c0c0c 0%, #0b0b0b 70%);
}
.list-group-horizontal {
    background-color: #eceff1;
    padding: 15px;
}
.list-group-horizontal p{
  display: inline-block;
  width: 100%;
  white-space: pre-line;
}
@media screen and (min-width: 20em) {
 .list-group-horizontal p {
    width: 50%;
  }
}
body {
    font-family: Lato;
    font-size: 20px !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
    background-color: white;
    padding-top: 120px;
    background-image: linear-gradient(left, gray 0%, black 80%) !important;
}
.navbar{
/*    margin-bottom: 0%;*/
    height: auto;
}
#workli a{
    cursor: pointer;
}
/*#workli .dropdown-menu a:hover{*/
/*    cursor: pointer;*/
/*    background-color: darkslategrey;*/
/*}*/
#workli .dropdown-menu {
    background-color: #32383e;
    color: white;
    font-size: inherit;
    border: none;
    position: absolute;
    padding-top: 0px;
    margin-top: -1px;
    /*left: 85%;*/
}
/*#myform{*/
/*    display: none;*/
/*}*/
/*#formli:hover #myform{*/
/*    display: block;*/
/*    position: absolute;*/
/*}*/

/*option:active form.form-container{*/
/*    display: block;*/
/*    position: absolute;*/
/*}*/


/*.dropdown-menu select:active #myform{*/
/*    display: block;*/
/*    position: absolute;*/
/*    transition: width 2s, height 4s;*/
/*}*/

/*.dropdown-menu select option:active #myform{*/
/*    display: block;*/
/*    position: absolute;*/
/*}*/


/*.navbar-brand*/
/*{*/
/*!*  font-family: Lato;*!*/
/*!*  font-style: italic;*!*/
/*!*  font-variant: small-caps !important;*!*/
/*!*  font-weight: 700;*!*/
/*!*  color: white;*!*/
/*!*  font-size: 30px !important;*!*/
/*!*    position: page;*!*/
/*!*    width: 100%;*!*/
/*    !*left: 10px;*!*/
/*    !*text-align: left;*!*/
/*    margin: 0px;*/
/*    top: 0px;*/
/*    display: inline;*/
/*    padding: 0px;*/
/*}*/
.img-responsive {
    display: block !important;
    max-width: 100% !important;
    height: auto !important;
}
.errorlist {
    list-style: none;
    color: #1E88E5;
    /*margin-bottom: 10px;*/
    /*margin-bottom: 0px;*/
}
#head-container{
    /*position: fixed;*/
    /*margin-top: 70px;*/
    /*height: 100px;*/
    /*width: 100%;*/
    color: white;
    background-color: #343a40;
}

#head-container a{
    color: white;
}

#head-container li{
    display: inline-block;
    background-color: #343a40;
    border: none;
    /*margin: auto;*/
    /*margin-top: 20px;*/
}
#error-container li{
    display: block;
    /*background-color: #343a40;*/
    background-color:#ffffff;
    color:#000000;
    border: none;
    /*margin: auto;*/
    margin-top: 0px;
    white-space: pre-line;
}

.tg  {border-collapse:separate;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
/*.tg .tr-bt{background-color:inherit !important;border-bottom-style:hidden !important;}*/
/*.tg .tr-tp{background-color:inherit !important;}*/
.tg .tg-z1fm{font-weight:bold;text-align:left;vertical-align:top;color:blue !important}
.tg .tg-z1fk{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-z1fl{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-q1v9{font-weight:bold;text-align:right;vertical-align:top}
.tg .tg-km37{font-weight:bold;background-color:#002752;color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-km38{font-weight:bold;font-size:16px;background-color:#002752;color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-2xbj{font-weight:bold;font-size:16px;text-align:center;vertical-align:top;}
.tg .tg-fymr{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-6ic8{font-weight:bold;text-align:right;vertical-align:top}
.tg .tg-j2vi{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-7btt{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-7btu{font-weight:bold;text-align:center;vertical-align:top}
/*tr{background: #3c3c3c !important; color:whitesmoke !important;}*/
/*.tg tr:nth-child(even) {*/
/*    background: #3c3c3c !important;*/
/*}*/
/*.tg tr:nth-child(odd) {*/
/*  !*background: #eee;*!*/
/*    background: #3c3c3c !important;*/
/*}*/

tr{background-color: #5a6268 !important; background-image: linear-gradient(top, #3c3c3c 0%, #222222 100%) !important; color:whitesmoke !important;
}

th {
  border: 1.5px solid #ccc;
  border-width: 1.2px !important;
  padding: 2px;
  background-color: #0c0c0c !important;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  border-color: whitesmoke !important;

}
td {
    border: 1.5px solid #ccc;
    border-width: 1.2px !important;
    padding: 2px;
    border-radius: 2.5px;
    border-color: whitesmoke !important;

}
tr:nth-child(odd) {
    /*background: #eee;*/
    background-color: #32383e !important;
    background-image: linear-gradient(top, #3c3c3c 0%, #222222 100%) !important;
}
td:hover{background-color: darkslategrey !important;}
.tg .tr-bt{;border-bottom-style:hidden !important;}
.tg .tr-tp{;border-top-style:hidden !important;}
/*.tg .tg-2xbj{border-color:white !important;}*/
#table th{
    z-index: 1000;
}
#rawtabled th{
    z-index: 1000;
}
/* Dropdown Button */
/*.dropbtn {*/
/*  background-color: #343a40;*/
/*  color: white;*/
/*  padding: 16px;*/
/*  font-size: 16px;*/
/*  border: none;*/
/*  border-radius: 12px 12px;*/
/*  font-variant: small-caps !important;*/
/*  font-weight: 300;*/
/*  border: 2px solid #0c0c0c;*/
/*  margin-top: -10px;*/
/*}*/
/*.dropdown {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  margin-left: auto;*/
/*}*/
/*!* Dropdown Content (Hidden by Default) *!*/
/*.dropdown {*/
/*  display: none;*/
/*  position: absolute;*/
/*  min-width: 100px;*/
/*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*  z-index: 100;*/
/*  list-style-type: none;*/
/*  background-color: #5a5a5a !important;*/
/*  padding-left: 0px*/
/*}*/
/* Links inside the dropdown */
.dropdown {
  /*color: white !important;*/
  padding: 12px 16px;
  text-align: left;
  display: block;
  font-variant: small-caps !important;
  font-weight: 300;
  font-size: 15px !important;
  /*border-radius: 12px 12px;*/
  border: none;
  list-style-type: none;
  background-color: #343a40 !important;
  white-space: pre-wrap;
}
.dropdown-content {
  color: white !important;
/*  padding: 10px 10px;*/
  text-align: left;
  display: inline-block;
  font-variant: small-caps !important;
  /*font-weight: 300;*/
  font-size: 15px !important;
  /*border-radius: 12px 12px;*/
  list-style-type: none;
  background-color: #343a40 !important; background-image: none !important;
    /*white-space: pre-wrap;*/
}


label[for="id_fev1_low"]{font-size: 15px;font-weight: normal;font-family: Garamond; color: whitesmoke !important;}
label[for="id_fev1_high"]{font-size: 15px;font-weight: normal;font-family: Garamond; color: whitesmoke !important;}
label[for="id_range_radio_0"]{font-size: 15px;font-weight: normal;font-family: Garamond; color: whitesmoke !important;}
label[for="id_range_radio_1"]{font-size: 15px;font-weight: normal;font-family: Garamond; color: whitesmoke !important;}
#id_range_radio {list-style-type:none;}
#id_range_radio  > li { display: inline-block; }
/*#ques{font-size: 13px;font-weight: normal;font-family: cursive; color: whitesmoke !important;}*/
/*!* Change color of dropdown links on hover *!*/
/*.dropdown-content:hover {background-color: #343a40 !important;}*/
/*!* Show the dropdown menu on hover *!*/
/*.dropdown:hover .dropdown-content {display: block;}*/

#sbtbtn{
  /*position: relative;*/
  /*display: inline-block;*/
  /*margin-left: 10%;*/
  padding-bottom: 3%;
}
#image-content{
    padding-top: 70px;
}

/*@media screen and (min-width: 768px) {*/
/*.custom-collapse .collapse{*/
/*            display:block;*/
/*      }*/
/*}*/

/*#navbar1 .flex-column a{*/
/*    white-space: nowrap;*/
/*}*/

@media (min-width: 1700px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

/* Style the button that is used to open and close the collapsible content */
.labels tr td {
	background-color: #343434;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: block;
}

.hide {
    display: none;
}

/* Button used to open the form - fixed at the top of the page */
/*.open-button {*/
/*  box-shadow: 0px 0px 0px 2px #343a40;*/
/*  background:linear-gradient(to bottom, #343a40 5%, #4e555b 100%);*/
/*  background-color:#343a40;*/
/*  border-radius:10px;*/
/*  border:1px solid #343a40;*/
/*  display:inline-block;*/
/*  cursor:pointer;*/
/*  color:#ffffff;*/
/*  font-family:Arial;*/
/*  font-size:19px;*/
/*  padding:12px 37px;*/
/*  text-decoration:none;*/
/*  text-shadow:0px 1px 11px #283966;*/
/*  white-space: nowrap;*/
/*  opacity: 0.8;*/
/*  position: fixed;*/
/*  top: 90px;*/
/*  right: 28px;*/
/*  width: auto;*/
/*}*/

/* The popup form - hidden by default */
.form-popup {
  /*display: none;*/
  padding-top: 0px;
  position: fixed;
  /*top: 50px;*/
  width: auto;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  /*max-width: 350px;*/
  padding: 10px 5px 5px;
  padding-top: 30px;
  box-shadow: 0px 0px 2px 1px #d1d1d1;
  background-color: #343a40;
  background-image: linear-gradient(180deg, #343a40 20%, #32383e 70%);
  border-radius: 6px;
}
#myForm{
    z-index: 9000;
    /*position: absolute;*/
/*    padding-top: 0px;*/
    margin-top: -70px;
}

#form-worklist{
  display: none;
}
#btn-form{
  display: none;
  cursor: pointer;
}
#back{
  display: none;
}

/*#rawtabled{*/
/*    display:none;*/
/*}*/

/*!* Add a red background color to the cancel button *!*/
/*.form-container .cancel {*/
/*  background-color: red;*/
/*}*/

/* Popup box BEGIN */
.hover_bkgr_table{
    background:rgba(0,0,0,.4);
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
    float: left;
}
.hover_bkgr_table .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_table > div {
    border-collapse:collapse;
    border-spacing:0;
    box-shadow: 0px 0px 0px 3px #3c3c3c;
    background-color: #4d4d4d;
    background-image: linear-gradient(315deg, #4d4d4d 0%, #5a5a5a 74%);
    border-radius: 10px;
    transition: all .1s linear;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: auto;
    position: relative;
    border-radius: 8px;
    padding: 25px 5px 5px;
    color: #f1f8e9;
    opacity: 0.99;
}
.hover_bkgr_table  tr:nth-child(odd) {
  background: #3c3c3c;
  border-color: whitesmoke;
}
.hover_bkgr_table .tg .tg-km37{text-align:center !important; font-weight:bold;background-color:#343434;color:#ffffff;border-color:inherit; text-align:left;vertical-align:top;border-color:black}
.trigger_popup_table {
    cursor: pointer;
}
.hover_bkgr_table th{text-align:center !important;border-color:inherit!important;top:0px;}

.closebutton{
    /*background-color: #fff;*/
    border-radius: 50%;
    /*box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);*/
    float:right;
    height: 18px;
    position: absolute;
    width: 18px;
    transition: all .1s linear;
    cursor: pointer;
    top: 2px;
    right: 3px;
}

.closebutton:after{
    color:#0f0f0f;
    content: "";
    display: inline-block;
    font-size: 15px;
    height: 15px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 15px;
}

.cross:after{
    content: "✖";
    left: 0px;
    top: 0px;
}

.cross:hover:after{
    color:#eb2f2f;
    text-shadow:0px 0px 6px #eb2f2f;
}
/* Popup box BEGIN */

.mylink {
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 90px;
  float: right;
  width: 100%;
}

/*.myButton {*/
/*	box-shadow: 0px 0px 0px 2px #343a40;*/
/*	background:linear-gradient(to bottom, #343a40 5%, #4e555b 100%);*/
/*	background-color:#343a40;*/
/*	border-radius:10px;*/
/*	border:1px solid #343a40;*/
/*	display:inline-block;*/
/*	cursor:pointer;*/
/*	color:#ffffff;*/
/*	font-family:Arial;*/
/*	font-size:19px;*/
/*	padding:12px 37px;*/
/*	text-decoration:none;*/
/*	text-shadow:0px 1px 11px #283966;*/
/*    white-space: nowrap;*/
/*}*/
/*.myButton:hover {*/
/*	background:linear-gradient(to bottom, #0c0c0c 5%, #343a40 100%);*/
/*	background-color:#0c0c0c;*/
/*}*/
/*.myButton:active {*/
/*	position:relative;*/
/*	top:1px;*/
/*}*/

#plotdiv{
    cursor: pointer;
}
#rawtabled_wrapper{
    background-color: #32383e;
    background-image: linear-gradient(top, #32383e 0%, #5a5a5a 74%);
    box-shadow: 0px 0px 0px 2px #3c3c3c;
    border-radius: 0px;
    padding: 10px;
    width: 98%;
}
#rawtabled_length{
        color: whitesmoke !important;
}
#rawtabled_filter{
        color: whitesmoke !important;
}
#rawtabled_info{
        color: whitesmoke !important;
}

#table_wrapper{
    background-color: #32383e;
    background-image: linear-gradient(top, #32383e 0%, #5a5a5a 74%);
    box-shadow: 0px 0px 0px 2px #3c3c3c;
    border-radius: 5px;
    padding: 10px;
}
#table_length{
        color: whitesmoke !important;
}
#table_filter{
        color: whitesmoke !important;
}
#table_info{
        color: whitesmoke !important;
}
.dataTables_wrapper{
        color: whitesmoke !important;
        font-size: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: whitesmoke!important;
  border-radius: 4px;
  border: 1px solid #828282;
}

.dataTables_wrapper .dataTables_paginate .previous:disabled {
        color: ghostwhite !important;
        border-radius: 4px;
        border: 1px solid #828282;
}
.dataTables_wrapper .dataTables_paginate {
        color: whitesmoke !important;
}

/*#table_filter::-webkit-input-placeholder{*/
/*        display: block;*/
/*        color: black !important;*/
/*        font-size: 15px;*/
/*        content:"Search...";*/
/*    */
/*}*/
/*.tg  {*/
/*    border-collapse:collapse;*/
/*    border-spacing:0px;*/
/*    padding: 15px;*/
/*    !*box-shadow: 0px 0px 0px 3px #3c3c3c;*!*/
/*    !*background-color: #4d4d4d;*!*/
/*    !*background-image: linear-gradient(315deg, #4d4d4d 0%, #5a5a5a 74%);*!*/
/*    border-radius: 10px;*/
/*    transition: all .1s linear;*/
/*    !*display: block;*!*/
/*    height: auto;*/
/*    vertical-align: middle;*/
/*    width: 100%;*/
/*    position: relative;*/
/*    border-radius: 8px;*/
/*    padding: 5px 5px;*/
/*    !*color: #f1f8e9;*!*/
/*    color: whitesmoke;*/
/*    opacity: 0.99;*/
/*}*/

/*.tg  > tr:nth-child(odd) {*/
/*  background: whitesmoke !important;*/
/*  border-color: whitesmoke;*/
/*}*/