{% extends 'layout.html' %}

{% block title %}
    ECP HOME SPIROMETRY | DASHBOARD
{% endblock %}
{% load static %}
{% block head %}
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/jquery.dataTables.min.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/fixedHeader.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/responsive.bootstrap.min.css' %}">
{% endblock %}
{% block content %}
  <div class='container-fluid' align="center">
        <div class="container-fluid">
            {#<nav aria-label="breadcrumb">#}
            {#  <ol class="breadcrumb blue-grey lighten-4 arr-right align-content-center">#}
            {#    <li class="breadcrumb-item"><a href="{% url 'ecp_hs_app:dashboard_all_sites' %}">All Sites</a></li>#}
            {#    <li class="breadcrumb-item" aria-current="page">Site</li>#}
            {#  </ol>#}
            {#    <ol class="list-group list-group-horizontal breadcrumb blue-grey lighten-4">#}
            {#      <div class="table-responsive table-borderless">#}
            {#       <table class = "table table-striped table-light">#}
            {#          <thead class = "thead-dark">#}
            {#             <tr>#}
            {#               <th><strong>Site-Name/ID</strong></th>#}
            {#              </tr>#}
            {#          </thead>#}
            {#          <tbody>#}
            {#              <tr>#}
            {#                <td>{{ site.0.name }}/{{ site.0.sitenum }}</td>#}
            {#              </tr>#}
            {#          </tbody>#}
            {#           <tr></tr>#}
            {#        </table>#}
            {#      </div>#}
            {#    </ol>#}
            {#</nav>#}
            <table class="tg table table-striped" width="100%" border="1" align="center" style="margin:1px; box-shadow: 0px 0px 0px 2px #3c3c3c; border-radius: 4px">
              <tr>
                <th colspan="6" style="font-weight:bold; font-size:16px; font-weight:bold; font-size:16px; background-color:#0c0c0c !important">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb blue-grey lighten-4 arr-right align-content-center">
                        <li class="breadcrumb-item"><a href="{% url 'ecp_hs_app:dashboard_all_sites' %}">All Sites</a></li>
                        <li class="breadcrumb-item" aria-current="page">Site</li>
                      </ol>
                    </nav>
                </th>
              </tr>
              <tr>
                <td class="tg-cly1" style="font-weight:bold; border-color:#737373; font-size:15px; color:#f0f4c3">Site Name/ID:</td>
                <td class="tg-cly1" style="border-color:#737373;">{{ sites.0.name }}/{{ sites.0.sitenum }}</td>
              </tr>
            </table>
        </div>
    <div class="container-fluid">
        <table align="center" id = "table" class = "table table-striped" style="width: 100%; font-size: 15px;" border="1">

        <thead class = "thead-dark">
            <tr>
                <th>Patient Number</th>
                <th>Enrolled Date</th>
                <th>HS Study Arm</th>
                <th>Status</th>
                <th>Current Mode</th>
                <th>Sessions Count</th>
                <th>Missed Sessions</th>
                <th>Conversion Date</th>
                <th>Conversion</th>
                <th>Rpts Sent Spiro Var</th>
                <th>Rpts Sent Pulse Var</th>
                <th>Rpts Sent O2Sat Var</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for patient, sess, spiro, pulse, o2sat, survmiss, psmissed in site %}
            <tr>
                <td class="c3" align="left"><a href="{% url 'ecp_hs_app:dashboard_sessions' site_id=site_id patient_id=patient.id %}">{{ patient.patientnum }}</a></td>
                <td class="c3" align="left">{{ patient.enrolleddate }}</td>
                <td class="c3" align="left">{{ patient.studyarm }}</td>
                <td class="c3" align="left">{% if patient.currentmode == 1 or patient.currentmode == 2 or patient.currentmode == 3 or patient.currentmode == 4 %} Enrolled
                                                {% else %} Not Enrolled
                                                {% endif %}</td>
                <td class="c3" align="left">{% if patient.currentmode == 1 %} Pre-Surveillance
                                                  {% elif  patient.currentmode == 2 or patient.currentmode == 3 %} Surveillance
                                                  {% elif  patient.currentmode == 4  %} Different Arm
                                                  {% else %} Out of Study
                                                  {% endif %}</td>
                <td class="c3" align="left">{{ sess.sessions_tot }}</td>
                <td class="c3" align="left">{% if  patient.currentmode == 2 or patient.currentmode == 3 %} {{survmiss.surv_missed}}
                                              {% elif  patient.currentmode == 1 %} {{psmissed.ps_missed}}
                                              {% else %}
                                              {% endif %}</td>
                <td class="c3" align="left">{{ patient.presurvenddate }}</td>
                <td class="c3" align="left">{% if  patient.currentmode == 2 or patient.currentmode == 3 %} True
                                              {% elif  patient.currentmode == 1 or patient.currentmode == 4 or patient.currentmode == 5 %} False
                                              {% else %}
                                              {% endif %}</td>
                <td class="c3" align="left">{{ spiro.spiro_tot }}</td>
                <td class="c3" align="left">{{ pulse.pulse_tot }}</td>
                <td class="c3" align="left">{{ o2sat.o2sat_tot }}</td>
                <td class="c3" align="left"><a href="{% url 'ecp_hs_app:dashboard_reports' site_id=site_id patient_id=patient.id  %}">View Reports</a></td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src = "{% static 'ecp_hs_app/Datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/dataTables.responsive.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/responsive.bootstrap.min.js' %}"></script>
    <script type = "text/javascript">
    $(document).ready(function(){
        var table = $('#table').DataTable({
            stateSave: true,
            responsive: true,
            language:{
                search: "_INPUT_",
                searchPlaceholder: "Search..."
            }
        });
        new $.fn.dataTable.FixedHeader( table );
    });
    </script>
{% endblock %}