{% extends 'layout.html' %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:darkgrey !important;}
.tg td{font-family:Arial, sans-serif;font-size:15px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:16px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cly1{text-align:left;vertical-align:middle;background-color: #343434 !important;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
{% block title %}
    ECP HOME SPIROMETRY | DASHBOARD
{% endblock %}
{% load static %}
{% block head %}
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/jquery.dataTables.min.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/fixedHeader.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/responsive.bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class='container-fluid' align="center">
        <div class="container-fluid">
{#            <nav aria-label="breadcrumb">#}
{#              <ol class="breadcrumb blue-grey lighten-4 arr-right align-content-center">#}
{#                <li class="breadcrumb-item"><a href="{% url 'ecp_hs_app:dashboard_all_sites' %}">All Sites</a></li>#}
{#                <li class="breadcrumb-item"><a href="{% url 'ecp_hs_app:dashboard_site' site_id=site_id %}">Site</a></li>#}
{#                <li class="breadcrumb-item" aria-current="page">reports</li>#}
{#              </ol>#}
{#              <ol class="list-group list-group-horizontal breadcrumb blue-grey lighten-4">#}
{#                  <div class="table-responsive table-borderless">#}
{#                       <table class = "table table-striped table-light">#}
{#                          <thead class = "thead-dark">#}
{#                             <tr>#}
{#                               <th><strong>Site-Name/ID</strong></th>#}
{#                               <th><strong>Participant-ID</strong></th>#}
{#                               <th><strong>Study-Arm</strong></th>#}
{#                             </tr>#}
{#                          </thead>#}
{#                          <tbody>#}
{#                             <tr>#}
{#                               <td>{{ reports.0.sitename }}/{{ reports.0.sitenum }}</td>#}
{#                               <td>{{ reports.0.patientnum }}</td>#}
{#                               <td>Home&nbsp;Spiro</td>#}
{#                             </tr>#}
{#                          </tbody>#}
{#                          <thead class = "thead-dark">#}
{#                             <tr>#}
{#                               <th><strong>Participant-Status</strong></th>#}
{#                               <th><strong>Mode</strong></th>#}
{#                               <th><strong>Enrolled-Date</strong></th>#}
{#                             </tr>#}
{#                          </thead>#}
{#                          <tbody>#}
{#                             <tr>#}
{#                               <td>Enrolled</td>#}
{#                               <td class="c3" align="left">{% if reports.0.sessionmode == 1 %} Pre-Surveillance#}
{#                                                           {% elif  reports.0.sessionmode == 2 or reports.0.sessionmode == 3 %} Surveillance#}
{#                                                           {% elif  reports.0.sessionmode == 4  %} Different Arm#}
{#                                                           {% elif  reports.0.sessionmode == 5  %} Out of Study#}
{#                                                           {% endif %}#}
{#                               <td>{{ reports.0.startstudydate }}</td>#}
{#                             </tr>#}
{#                          </tbody>#}
{#                       </table>#}
{#                  </div>#}
{#                </ol>#}
{#            </nav>#}
            <table class="tg table table-striped" width="100%" border="1" align="center" style="margin:1px; box-shadow: 0px 0px 0px 2px #3c3c3c; border-radius: 4px">
                <tr>
                    <th colspan="6" style="border-color:#737373; font-weight:bold; font-size:16px; background-color: #0c0c0c !important">
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb blue-grey lighten-4 arr-right align-content-center">
                            <li class="breadcrumb-item"><a href="{% url 'ecp_hs_app:dashboard_all_sites' %}">All Sites</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'ecp_hs_app:dashboard_site' site_id=site_id %}">Site</a></li>
                            <li class="breadcrumb-item" aria-current="page">Reports</li>
                          </ol>
                        </nav>
                    </th>
                </tr>
                <tr>
                    <td class="tg-cly1" style="font-weight:bold; border-color:#737373; font-size:15px; color:#f0f4c3">Site Name/ID:</td>
                    <td class="tg-cly1" style="border-color:#737373;">{{ reports.0.sitename }}/{{ reports.0.sitenum }}</td>
                    <td class="tg-cly1" style="font-weight:bold; border-color:#737373; font-size:15px; color:#f0f4c3">Participant ID:</td>
                    <td class="tg-0lax" style="border-color:#737373;">{{ reports.0.patientnum }}</td>
                    <td class="tg-0lax" style="font-weight:bold; border-color:#737373; font-size:15px; color:#f0f4c3">Study Arm:</td>
                    <td class="tg-0lax" style="border-color:#737373;">{{ reports.0.studyarm }}</td>
                </tr>
                <tr>
                    <td class="tg-cly1" style="font-weight:bold; border-color:#737373; font-size:15px; color:#f0f4c3">Participant Status:</td>
                    <td class="tg-cly1" style="border-color:#737373;">Enrolled</td>
                    <td class="tg-cly1" style="font-weight:bold; font-size:15px; border-color:#737373; color:#f0f4c3">Current Mode:</td>
                    <td class="tg-0lax" style="border-color:#737373;">{% if reports.0.currentmode == 1 %} Pre-Surveillance
                                                           {% elif  reports.0.currentmode == 2 or reports.0.currentmode == 3 %} Surveillance
                                                           {% elif  reports.0.currentmode == 4  %} Different Arm
                                                           {% elif  reports.0.currentmode == 5  %} Out of Study
                                                           {% endif %}</td>
                    <td class="tg-0lax" style="font-weight:bold; border-color:#737373; font-size:15px; color:#f0f4c3">Enrolled Date:</td>
                    <td class="tg-0lax" style="border-color:#737373;">{{ reports.0.enrolleddate }}</td>
                </tr>
            </table>
        </div>
    <div class="container-fluid">
        <table align="center" id = "table" class = "table table-striped" style="width: 100%; font-size: 15px;" border="1">
            <thead class = "thead-dark">
                <tr>
    {#                <th>Session Number</th>#}
                    <th>Report Name</th>
                    <th>Session Date</th>
                    <th>Report Date</th>
                    <th>Report Review Date</th>
                    <th>Report Assessment</th>
    {#                 <th></th>#}
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr>
    {#                <td class="c3" align="left"> {{ report.sessionnum }} </td>#}
                    {% if not report.reportid == None %}
                        <td class="c3" align="left"><a href="{%  url 'ecp_hs_app:report_view' report_id=report.id %}?from={{ request.path|urlencode }}">{{ report.reportname }} </a></td>
                    {% else %}
                        <td class="c3" align="left"> None </td>
                    {% endif %}
                        <td class="c3" align="left"> {{ report.datetime}}  </td>
                        <td class="c3" align="left"> {{ report.reportdate}}  </td>
                        <td class="c3" align="left"> {{ report.reportreviewed}}  </td>
                        <td class="c3" align="left"> {{ report.assessment}}  </td>
{#                    {% else %}#}
{#                        <td class="c3" align="left"> None </td>#}
{#                        <td class="c3" align="left"> None  </td>#}
{#                        <td class="c3" align="left"> None  </td>#}
{#                        <td class="c3" align="left"> None  </td>#}
{#                        <td class="c3" align="left"> None  </td>#}
{#                    {% endif %}#}
    {#                <td class="c3" align="left"> None </td>#}
    {#                <td class="c3" align="left"><a href="{% url 'ecp_hs_app:home' %}">View Reports</a></td>#}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src = "{% static 'ecp_hs_app/Datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/dataTables.responsive.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/responsive.bootstrap.min.js' %}"></script>
    <script type = "text/javascript">
    $(document).ready(function(){
        var table = $('#table').DataTable({
            stateSave: true,
            responsive: true,
            language:{
                search: "_INPUT_",
                searchPlaceholder: "Search..."
            }
        });
        new $.fn.dataTable.FixedHeader( table );
    });
    </script>
{% endblock %}