{% extends 'layout.html' %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:darkgrey !important;}
.tg td{font-family:Arial, sans-serif;font-size:15px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:16px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cly1{text-align:left;vertical-align:middle;background-color: #343434 !important;}
.tg .tg-0lax{text-align:left;vertical-align:top}
tr{background: #3c3c3c !important; color:whitesmoke !important;}

</style>
{% block title %}
    ECP HOME SPIROMETRY | DASHBOARD
{% endblock %}
{% load static %}
{% block head %}
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/jquery.dataTables.min.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/fixedHeader.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/responsive.bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class='container-fluid' align="center">
    <div class="container-fluid">
{#            <nav aria-label="breadcrumb">#}
{#              <ol class="breadcrumb blue-grey lighten-4 arr-right align-content-center">#}
{#                <li class="breadcrumb-item" aria-current="page">All Sites</li>#}
{#              </ol>#}
{#            </nav>#}
            <table class="tg table table-striped" width="100%" border="1" align="center" style="margin:1px; box-shadow: 0px 0px 0px 2px #3c3c3c; border-radius: 4px">
                  <tr>
{#                <th colspan="6" style="border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-left-radius:10px; border-bottom-left-radius:10px;#}
{#                                       border-bottom-right-radius:10px; background-color: #f5f7fa; background-image: linear-gradient(315deg, #f5f7fa 0%, #eee 74%); color: black; font-weight:bold; font-size:16px;">#}
                    <th colspan="6"  style="border-color:#737373; font-weight:bold; font-size:16px; background-color: #0c0c0c !important">
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb blue-grey lighten-4 arr-right align-content-center">
                            <li class="breadcrumb-item" aria-current="page">All Sites</li>

                          </ol>
                        </nav>
                    </th>
                  </tr>
            </table>
       </div>
    <div class="container-fluid">
        <table align="center" id = "table" class = "table table-striped" style="width: 100%; font-size: 15px;" border="1">
            <thead class = "thead-dark">
                <tr>
                    <th>Site Name</th>
                    <th>Site Number</th>
                    <th>Enrolling Status</th>
                    <th>Patient Count</th>
                    <th>Pre-Surveillance Count</th>
                    <th>Surveillance Count</th>
                    <th>Sessions Count</th>
                    <th>Total Variance Count</th>
                    <th>Presurv Missed Sessions</th>
                    <th>Surv Missed Sessions</th>
                    <th>Number of Reports</th>
                    <th>Count of Yes CMI MD Assess</th>
                    <th>Count of No CMI MD Assess</th>

                </tr>
            </thead>
            <tbody>
                {% for site, pat, presurv, surv, sess, var, ps_miss, surv_miss, rep, cmi_y, cmi_n in all_sites %}
                <tr>
                    <td class="c3" align="left"><a href="{% url 'ecp_hs_app:dashboard_site' site_id=site.id %}">{{ site.name }}</a></td>
                    <td class="c3" align="left">{{ site.sitenum }}</td>
                    <td class="c3" align="center">{{ site.status }}</td>
                    <td class="c3" align="left">{{pat.pat_tot}} </td>
                    <td class="c3" align="left">{{presurv.presurv_tot}} </td>
                    <td class="c3" align="left">{{surv.surv_tot}} </td>
                    <td class="c3" align="left">{{sess.sessions_tot}} </td>
                    <td class="c3" align="left">{{var.var_tot}} </td>
                    <td class="c3" align="left">{{ps_miss.ps_missed}} </td>
                    <td class="c3" align="left">{{surv_miss.surv_missed}} </td>
                    <td class="c3" align="left">{{rep.rep_tot}} </td>
                    <td class="c3" align="left">{{cmi_y.cmi_yes}} </td>
                    <td class="c3" align="left">{{cmi_n.cmi_no}} </td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src = "{% static 'ecp_hs_app/Datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/dataTables.responsive.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/responsive.bootstrap.min.js' %}"></script>
    <script type = "text/javascript">
    $(document).ready(function(){
        var table = $('#table').DataTable({
            stateSave: true,
            responsive: true,
            language:{
                search: "_INPUT_",
                searchPlaceholder: "Search..."
            }
        });
        new $.fn.dataTable.FixedHeader( table );
    });
    </script>
{% endblock %}