<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="ECP HOME SPIROMETRY DASHBOARD">
    <meta name="author" content="Ajit George">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<p>{{name | safe}}:</p>
    <p >Please review the attached report for subject {{patient | safe}} that details the following:</p>
    <p><span style="color: #000000;"><strong> {{message_header | safe}} </strong></span></p>
{#    <p><span style="color: #000000;"><strong> CMI Comments: {{comment | safe}} </strong></span></p>#}
	<p>Feel free to contact the CMI staff at Washington University with any questions:</p>
	<p style="padding-left: 35%"><strong> CMI Staff Research Coordinator </strong><strong> : </strong> Kathy Dodds, RN</p>
	<p style="padding-left: 35%;"><strong> Contact email: </strong> <a href="mailto:doddsk@wustl.edu"> doddsk@wustl.edu </a></p>
	<p style="padding-left: 35%;"><strong> Contact phone: </strong> 314 747 0497</p>
</body>