<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="ECP HOME SPIROMETRY DASHBOARD">
    <meta name="author" content="Ajit George">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<p>{{name | safe}}:</p>
    <p>Following error code {{ error_code | safe }} for patient {{patient | safe}} during POST.</p>
    <p><span style="color: #000000;"><strong> {{message_header | safe}} </strong></span></p>
</body>