{% extends 'layout.html' %}


{% block title %}
    ECP HOME SPIROMETRY | Login
{% endblock %}

{% block content %}
    <div class="font-weight-normal text-center mt-5">
        <h2 class="font-weight-normal">ENTER CREDENTIALS TO LOGIN</h2>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5" style="height: 200px;">
        <form action="{% url 'ecp_hs_app:login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if request.GET.next %}
                <input type ="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <input type="submit" id="id_submit" class="btn btn-primary mt-4" style="width: 100%;"
                   value="SIGN IN"/>
            <p class="mt-2 text-muted text-center">&copy; 2019-2020</p>
        </form>
    </div>
{% endblock %}