{% extends 'layout.html' %}

{% block title %}
    ECP HOME SPIROMETRY | LOW PRIORITY WORKLIST
{% endblock %}


{% load static %}
{% block head %}
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/jquery.dataTables.min.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/fixedHeader.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/responsive.bootstrap.min.css' %}">

{% endblock %}
{% block content %}
    <div class='container-fluid' align="center">
        <div class="container-fluid">
            <h1> Review Your Low Priority Worklist
                <p id="mytext"style="color:green" > {{ text | safe }} </p>
            </h1>
        </div>
    <div class="container-fluid">
        <table align="center" id = "table" class = "table table-striped table-bordered" style="width: 100%; font-size: 15px;">
            <thead class = "thead-dark">
                <tr>
                    <th>CMI MD Assessment</th>
                    <th>Patient Num</th>
                    <th>Report Date</th>
                    <th>Report Name</th>
                    <th>Variance Type</th>
                    <th>Symptoms</th>
                    <!-- <th>Session Number</th> -->
                    <th>Sent to Site</th>
                    <th>Mode</th>
<!--                     <th>Site Name</th>
                    <th>Site ID</th>
                    <th>Report Num</th> -->
                </tr>
            </thead>
            <tbody>
                {% for wlist in lowpr_worklist %}
                <tr>
                    {% if not wlist.id == None %}
                        <td class="c3" align="left"><a href="{% url 'ecp_hs_app:report_view' report_id=wlist.id %}?from={{ request.path | urlencode }}">{% if not wlist.assessment %} No {% else %} Yes {% endif %} </a></td>
                    {% else %}
                        <td class="c3" align="left"> None </td>
                    {% endif %}                    <td class="c3" align="left">{{ wlist.patientnum }} </td>
                    <td class="c3" align="left">{{ wlist.reportdate }}</td>
                    <td class="c3" align="center">{{ wlist.reportname }}</td>
                    <td class="c3" align="left">{{ wlist.variancetype }} </td>
                    <td class="c3" align="left">{{ wlist.symptoms }} </td>
                    <!-- <td class="c3" align="left">{{ wlist.sessnum }} </td> -->
                    {% if not wlist.id == None %}
                        <td class="c3" align="left">{% if not wlist.senttosite %} No {% else %} Yes {% endif %} </td>
                    {% else %}
                        <td class="c3" align="left"> None </td>
                    {% endif %}
                    <td class="c3" align="left">{% if wlist.currentmode == 1 %} Pre-Surveillance
                                                  {% elif  wlist.currentmode == 2 or wlist.currentmode == 3 %} Surveillance
                                                  {% elif  wlist.currentmode == 4  %} Different Arm
                                                  {% elif  wlist.currentmode == 5 %} Out of Study
                                                  {% else %} None
                                                  {% endif %}
                    </td>
<!--                     <td class="c3" align="left">{{ wlist.sitename }} </td>
                    <td class="c3" align="left">{{ wlist.sitenum }} </td>
                    <td class="c3" align="left">{{ wlist.id }} </td> -->
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script src = "{% static 'ecp_hs_app/Datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/dataTables.responsive.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/responsive.bootstrap.min.js' %}"></script>
    <script type = "text/javascript">
    $(document).ready(function(){
        var table = $('#table').DataTable({
            stateSave: true,
            responsive: true,
            language:{
                search: "_INPUT_",
                searchPlaceholder: "Search..."
            }
        });
        new $.fn.dataTable.FixedHeader( table );
    });
    </script>
    <script>
      $(document).ready(function() {
          $("#mytext").fadeOut(3500);
     });
    </script>
{% endblock %}