<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="ECP HOME SPIROMETRY DASHBOARD">
    <meta name="author" content="Ajit George">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/css">   @page {
      size: 13.69in 12.27in;
      margin-left: 0.3in;
      margin-right: 0.3in;
     }
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg .tg-km37{font-weight:bold;font-size:14px;background-color:#343434;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}

    tr:nth-child(even) {
      background: #eee;
    }

    tr:first-child {
      background: white;
    }

    td, th {
      border: 1.5px solid #ccc;
      padding: 0.5em;
    }
  </style>
</head>

<body>
    <div class="tg" align="center" width="300px">
       <table class="tg" style="width:600px;" border="1">
                    <thead>
                      <tr>
                        <th class="tg-km37"><span style="font-size: 15px; color: #fff;font-weight: bold; float: left">{{date}}</span>Missed Sessions</th>
                      </tr>
                    </thead>
        </table>
        <div class="tg" align="center" width="300px">
            {{ missed_table | safe }}
        </div>
    </div>

</body>

</html>

