<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="ECP HOME SPIROMETRY DASHBOARD">
    <meta name="author" content="Ajit George">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/css">   @page {
      size: 13.69in 12.57in;
      margin-left: 0.3in;
      margin-right: 0.3in;
     }
     #imagesMain {
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      text-align: center;
    }
    #imagesMain img {
      height: auto;
      width: auto;
      vertical-align: middle;
    }
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg .tr-bt{background-color:white !important;border-bottom-style:hidden !important;}
    .tg .tr-tp{background-color:white !important;}
    .tg .tg-z1fk{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-z1fl{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top;color:red}
    .tg .tg-q1v9{font-weight:bold;border-color:inherit;text-align:right;vertical-align:top}
    .tg .tg-km37{font-weight:bold;font-size:20px;background-color:#343434;color:#ffffff;border-color:inherit;text-align:center;vertical-align:top}
    .tg .tg-fymr{font-weight:bold;border-color:inherit;text-align:left;vertical-align:top}
    .tg .tg-6ic8{font-weight:bold;border-color:inherit;text-align:right;vertical-align:top}
    .tg .tg-j2vi{font-weight:bold;border-color:inherit;text-align:center;vertical-align:top}
    .tg .tg-7btt{font-weight:bold;border-color:inherit;text-align:center;vertical-align:top}
    .tg .tg-7btu{font-weight:bold;border-color:inherit;text-align:center;vertical-align:top;color:red}
    tr:nth-child(odd) {
      background: #eee;
    }

    tr:first-child {
      background: white;
    }

    td, th {
      border: 1.5px solid #ccc;
      padding: 0.5em;
    }
  </style>
</head>

<body>
    <table class="tg" width="100%">
      <tr>
        <th class="tg-km37" colspan="6">{{title}}</th>
      </tr>
      <tr>
        <td class="tg-z1fk">Patient Study Number</td>
        <td class="tg-q1v9" colspan="2">{{ header_table.pat_num }}</td>
        <td class="tg-z1fk">Supplemental Data</td>
        <td class="tg-z1fk">Patient Normal</td>
        <td class="tg-z1fk">Test Session Symptoms</td>
      </tr>
      <tr>
        <td class="tg-fymr">Report Date</td>
        <td class="tg-6ic8" colspan="2">{{ header_table.report_date }}</td>
        <td class="tg-fymr">Survey Symptoms</td>
        <td class="tg-fymr">{{ header_table.questionnare }}</td>
        <td class="tg-z1fk">{{ header_table.symptoms }}</td>
      </tr>
      <tr>
        <td class="tg-z1fk">{{ header_table.week_title }}</td>
        <td class="tg-q1v9" colspan="2">{{ header_table.week }}</td>
        <td class="tg-z1fk" colspan="3"></td>
      </tr>
      <tr>
        <td class="tg-fymr">FEV1 (L)</td>
        <td class="tg-fymr" colspan="5"></td>
      </tr>
      <tr>
        <td class="tg-q1v9">Pre-Surv Normal Range</td>
        <td class="tg-7btt">{{ header_table.ps_nl_low }}</td>
        <td class="tg-7btt">{{ header_table.ps_nl_high }}</td>
        <td class="tg-z1fk">Pulse Oximetry</td>
        <td class="tg-z1fk" colspan="2"></td>
      </tr>
      <tr>
        <td class="tg-6ic8">Current Normal Range</td>
        <td class="tg-7btt">{{ header_table.s_nl_low }}</td>
        <td class="tg-7btt">{{ header_table.s_nl_high }}</td>
        <td class="tg-6ic8">Mean O2 Sat (%)</td>
        <td class="tg-7btt">{{ header_table.meano2sat_nl }}</td>
        <td class="tg-7btt">{{ header_table.meano2sat_abnl }}</td>
      </tr>
      <tr>
        <td class="tg-z1fk" colspan="3"></td>
        <td class="tg-q1v9">O2 Sat (%) Range</td>
        <td class="tg-j2vi">{{ header_table.o2satrng_nl }}</td>
        <td class="tg-7btt">{{ header_table.o2satrng_abnl }}</td>
      </tr>
      <tr>
        <td class="tg-fymr">FEV1 Variance</td>
        <td class="tg-6ic8" colspan="2">{{ header_table.fev1_var }}</td>
        <td class="tg-6ic8">O2 Sat Duration (sec)</td>
        <td class="tg-7btt">{{ header_table.duro2sat_nl }}</td>
        <td class="tg-7btt">{{ header_table.duro2sat_abnl }}</td>
      </tr>
      <tr>
        <td class="tg-z1fk">FEV1 Variance Persistence</td>
        <td class="tg-q1v9" colspan="2">{{ header_table.fev1_var_pers }}</td>
        <td class="tg-q1v9">Heart Rate (B/Min) Mean(Range)</td>
        <td class="tg-j2vi">{{ header_table.hr_nl }}</td>
        <td class="tg-7btt">{{ header_table.hr_abnl }}</td>
      </tr>
      <tr>
        <td class="tg-fymr">Lowest FEV1 (current month)</td>
        <td class="tg-6ic8" colspan="2">{{ header_table.lowest_fev1 }}</td>
        <td class="tg-6ic8">Heart Rate Duration (sec)</td>
        <td class="tg-7btt">{{ header_table.durhr_nl }}</td>
        <td class="tg-7btt">{{ header_table.durhr_abnl }}</td>
      </tr>
      <tr class="tr-bt">
        <td class="tg-z1fk" colspan="6"><span style="font-weight:bold">Decision: {{header_table.decision}} </span></td>
      </tr>
      <tr class="tr-tp">
        <td class="tg-z1fk" colspan="6"><span style="font-weight:bold">Comments: {{header_table.comment}} </span></td>
      </tr>
    </table>
    <br>

    <div id="imagesMain">
      <img src={{path_1}} alt="report" style="width:100%">
      <img src={{path_2}} alt="report" style="width:100%">
    </div>

    {% if survey  %}
        {{ survey_table | safe }}
    {%  endif %}

</body>

</html>

