{% extends 'layout.html' %}

{% block head %}
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel=”stylesheet” type=”text/css”>
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel=”stylesheet” type=”text/css”>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/fixedHeader.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ecp_hs_app/Datatable/css/responsive.bootstrap.min.css' %}">

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
    {{ scripts_1 | safe }}
    {{ scripts_2 | safe }}
{% endblock %}

{% block title %}
    ECP HOME SPIROMETRY | Report
{% endblock %}
{% block content %}
    <style>
            #back {display:block;}
    </style>
    <div class="hover_bkgr_table">
        <span class="helper"></span>
        <div>
            <div class="closebutton cross"></div>
            <div style="height: auto; overflow: auto;">{{ survey_table | safe }}</div>
        </div>
    </div>
    {% if form_bool  %}
        <style>
            #btn-form {display:block;}
        </style>
        <div id="myForm" class="form-popup" align="center">
                <div id="form-worklist">
                    <p class="closebutton cross"></p>
                    <form id="myform" action="{% if from %}?next={{ from }}{% endif %}" method="POST" class="form-container">
                        {% csrf_token %}
                        {{ form.as_table }}
                        {% if form.comment.field.widget.attrs.readonly %}
                            <input type="submit" disabled class="btn btn-primary" value="Submit">
                        {% else %}
                            <div style="text-align:center">
                                <input type="submit" id="mysubmit" class="btn btn-primary form-group" align="center" value="Submit Form">
                            </div>
                        {% endif %}
                    </form>
                </div>
        </div>
    {% endif %}
    <div class="container-fluid" width="100%" align="center">
            <table id="hdrtble" class="tg table table-striped table-light" align="center" style="width:98%" border="1">
                    <thead>
                      <tr>
                          <th id="header" class="tg-2xbj" colspan="6" style=" cursor:pointer;"><span style="font-size: 15px; color: #8c8c8c;font-weight: bold; float: left">&#x2796;</span> Table 1: Patient Information</th>
                      </tr>
                    </thead>
            </table>
            <div class="container-fluid"  align="center" id="hdrtbl" width="100%" style="margin-top:-17px">
                <table class="tg table table-striped table-light" align="center" style="width:98%" border="1">
                      <tbody class="container-fluid">
                          <tr>
                            <th class="tg-km38" colspan="6"> {{title}}</th>
                          </tr>
                        <td class="tg-z1fk">Patient Study Number</td>
                        <td class="tg-q1v9" colspan="2">{{ header_table.pat_num }}</td>
                        <td class="tg-z1fk">Supplemental Data</td>
                        <td class="tg-z1fk">Patient Normal</td>
                        {% if header_table.symptoms == 'NA' %}
                            <td class="tg-z1fk">Test Session Symptoms</td>
                        {% else %}
                            <td class="tg-z1fk"> <a href="#" class="trigger_popup_table" data-toggle="tooltip" title="Click here to view AMI Table" style="color: #FFBB33;"><u>Test Session Symptoms</u></a></td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td class="tg-fymr">Report Date</td>
                        <td class="tg-6ic8" colspan="2">{{ header_table.report_date }}</td>
                        <td class="tg-fymr">Survey Symptoms</td>
                        <td class="tg-fymr">{{ header_table.questionnare }}</td>
                        <td class="tg-z1fl">{{ header_table.symptoms }}</td>
                      </tr>
                      <tr>
                        <td class="tg-z1fk">{{ header_table.week_title }}</td>
                        <td class="tg-q1v9" colspan="2">{{ header_table.week }}</td>
                        <td class="tg-z1fk" colspan="3"></td>
                      </tr>
                      <tr>
                        <td class="tg-fymr">FEV1 (L)</td>
                        <td class="tg-fymr" colspan="5"></td>
                      </tr>
                      <tr>
                        <td class="tg-q1v9">Pre-Surv Normal Range</td>
                        <td class="tg-7btt">{{ header_table.ps_nl_low }}</td>
                        <td class="tg-7btt">{{ header_table.ps_nl_high }}</td>
                        <td class="tg-z1fk">Pulse Oximetry</td>
                        <td class="tg-z1fk" colspan="2"></td>
                      </tr>
                      <tr>
                        <td class="tg-6ic8">Current Normal Range</td>
                        <td class="tg-7btt">{{ header_table.s_nl_low }}</td>
                        <td class="tg-7btt">{{ header_table.s_nl_high }}</td>
                        <td class="tg-6ic8">Mean O2 Sat (%)</td>
                        <td class="tg-7btt">{{ header_table.meano2sat_nl }}</td>
                        <td class="tg-7btu">{{ header_table.meano2sat_abnl }}</td>
                      </tr>
                      <tr>
                        <td class="tg-z1fk" colspan="3"></td>
                        <td class="tg-q1v9">O2 Sat (%) Range</td>
                        <td class="tg-j2vi">{{ header_table.o2satrng_nl }}</td>
                        <td class="tg-7btu">{{ header_table.o2satrng_abnl }}</td>
                      </tr>
                      <tr>
                        <td class="tg-fymr">FEV1 Variance</td>
                        <td class="tg-6ic8" colspan="2">{{ header_table.fev1_var }}</td>
                        <td class="tg-6ic8">O2 Sat Duration (sec)</td>
                        <td class="tg-7btt">{{ header_table.duro2sat_nl }}</td>
                        <td class="tg-7btu">{{ header_table.duro2sat_abnl }}</td>
                      </tr>
                      <tr>
                        <td class="tg-z1fk">FEV1 Variance Persistence</td>
                        <td class="tg-q1v9" colspan="2">{{ header_table.fev1_var_pers }}</td>
                        <td class="tg-q1v9">Heart Rate (B/Min) Mean(Range)</td>
                        <td class="tg-j2vi">{{ header_table.hr_nl }}</td>
                        <td class="tg-7btu">{{ header_table.hr_abnl }}</td>
                      </tr>
                      <tr>
                        <td class="tg-fymr">Lowest FEV1 (current month)</td>
                        <td class="tg-6ic8" colspan="2">{{ header_table.lowest_fev1 }}</td>
                        <td class="tg-6ic8">Heart Rate Duration (sec)</td>
                        <td class="tg-7btt">{{ header_table.durhr_nl }}</td>
                        <td class="tg-7btu">{{ header_table.durhr_abnl }}</td>
                      </tr>
                      <tr class="tr-bt" style="background-color: #5a6268 !important">
                        <td class="tg-z1fk" colspan="6" style="border-bottom: none !important; border-bottom-right-radius: 0 !important; border-bottom-left-radius: 0 !important"><span style="font-weight:bold">Decision: {{header_table.decision}} </span></td>
                      </tr>
                      <tr class="tr-tp" style="background-color: #5a6268 !important">
                        <td class="tg-z1fk" colspan="6" style="border-top: none !important; border-top-right-radius: 0 !important; border-top-left-radius: 0 !important"><span style="font-weight:bold">Comments: {{header_table.comment}} </span></td>
                      </tr>
                </tbody>
                </table>
            </div>

    </div>
    <br>
    <div class="container-fluid" align="center" width="100%">
        <table id="plotdiv" class="tg table table-striped table-light" align="center" style="width:98%" border="1">
                    <thead>
                      <tr>
                        <th class="tg-2xbj" colspan="6" style="cursor:pointer;"><span style="font-size: 15px; color: #8c8c8c;font-weight: bold; float: left">&#x2796;</span>Plots</th>
                      </tr>
                    </thead>
        </table>
        <div class="container-fluid" align="center" id="plots" style="margin-top:-16px">
            <div style="width: 40%; display: inline-block;">
                {{ div_1 | safe }}
            </div>
            <div style="width: 40%; display: inline-block;">
                {{ div_2 | safe }}
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid" width="100%" align="center">
        <table id="sumtble" class="tg table table-striped table-light" align="center" style="width:98%" border="1">
                    <thead>
                      <tr>
                        <th class="tg-2xbj" colspan="21" style="cursor:pointer;"><span style="font-size: 15px; color: #8c8c8c;font-weight: bold; float: left">&#x2796;</span>Table 2: Statistics Summary (FEV1 in Liters)</th>
                      </tr>
                    </thead>
        </table>
        <div class="container-fluid" align="center" id="sumtbl" width="90%" style="margin-top:-17px">
            {{ summary_table | safe }}
        </div>
    </div>
    <br>
    <div class="container-fluid" width="100%" align="center">
        <table id="rawtble" class="tg table table-striped table-light" align="center" style="width:98%" border="1">
                    <thead>
                      <tr>
                        <th class="tg-2xbj" colspan="21" style="cursor:pointer;"><span style="font-size: 15px; color: #8c8c8c;font-weight: bold; float: left">&#x2796;</span>Table 3: Sessions Information</th>
                      </tr>
                    </thead>
        </table>
        <div class="container-fluid" align="center" id="rawtbl" width="90%" style="margin-top:-15px">
                {{ raw_table | safe }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src = "{% static 'ecp_hs_app/Datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/dataTables.responsive.min.js' %}"></script>
    <script src = "{% static 'ecp_hs_app/Datatable/js/responsive.bootstrap.min.js' %}"></script>


    <script>
    /* To expand/collapse form */
    $(document).ready(function() {
        $("#btn-form").hover(function(e) {
            e.preventDefault();
            var offset = $(this).offset();
            $("#form-worklist").slideDown(200);
            $("#myForm").css('left', offset.left);
            $("#myForm").css('top', offset.scrollTop);
		});
        $('.closebutton').click(function(){
             $("#form-worklist").slideUp(200);
        });
        $('#plotdiv').click(function () {
            if ($('#plots').is(":visible")){
                $('#plots').slideUp(200);
                $('span', $('#plotdiv').find('thead')).html('\u2795');
            }
            else{
                $('#plots').slideDown(200);
                $('span', $('#plotdiv').find('thead')).html('\u2796');
            }
        });
        $('#rawtble').click(function () {
            if ($('#rawtbl').is(":visible")){
                $('#rawtbl').slideUp(200);
                $('span', $('#rawtble').find('thead')).html('\u2795');
            }
            else{
                $('#rawtbl').slideDown(200);
                $('span', $('#rawtble').find('thead')).html('\u2796');
            }
        });
        $('#sumtble').click(function () {
            if ($('#sumtbl').is(":visible")){
                $('#sumtbl').slideUp(200);
                $('span', $('#sumtble').find('thead')).html('\u2795');
            }
            else{
                $('#sumtbl').slideDown(200);
                $('span', $('#sumtble').find('thead')).html('\u2796');
            }
        });
        $('#hdrtble').click(function () {
            if ($('#hdrtbl').is(":visible")){
                $('#hdrtbl').slideUp(200);
                $('span', $('#hdrtble').find('thead')).html('\u2795');
            }
            else{
                $('#hdrtbl').slideDown(200);
                $('span', $('#hdrtble').find('thead')).html('\u2796');
            }
        });
        $(".trigger_popup_table").click(function(){
           $('.hover_bkgr_table').show();
        });
        $('.closebutton').click(function(){
            $('.hover_bkgr_table').hide();
        });
        $("#id_fev1_low").hide();
        $("#id_fev1_high").hide();
        $('label[for=id_fev1_low]').hide();
        $('label[for=id_fev1_high]').hide();
        $("#id_comment").after("<br />");
        $("#id_choices").after("<br />");
        $("#id_range_radio").hide();
        $('label[for=id_range_radio_0]').hide();
        $("#id_range_radio_0").hide();
        $('label[for=id_range_radio_1]').hide();
        $("#id_range_radio_1").hide();
        });
        $("#id_choices").change(function () {
            if (this.value == "FPV") {
               var $radios = $('input:radio[name=range_radio]');
               $radios.filter('[value=1]').prop('checked', true);
               $("#id_range_radio").show();
               $('label[for=id_range_radio_0]').show();
               $("#id_range_radio_0").show();
               $('label[for=id_range_radio_1]').show();
               $("#id_range_radio_1").show();
            }
           else{
               $("#id_range_radio").hide();
               $('label[for=id_range_radio_0]').hide();
               $("#id_range_radio_0").hide();
               $('label[for=id_range_radio_1]').hide();
               $("#id_range_radio_1").hide();

               $("#myform").find('br').remove();
               $("#id_fev1_low").hide();
               $("#id_fev1_high").hide();
               $('label[for=id_fev1_low]').hide();
               $('label[for=id_fev1_high]').hide();
               $("#id_comment").after("<br />");
               $("#id_choices").after("<br />");
               }
        });
        $("input[type=radio][name=range_radio]").change(function () {
           if (this.value == "2") {
               var labels = $("#myform").find("label");
               var llabel = labels[3].innerHTML.replace(/&nbsp;/g,'');
               var ulabel = labels[4].innerHTML.replace(/&nbsp;/g,'');
               $("#id_fev1_low").fadeIn(500);
               $("#id_fev1_high").fadeIn(500);
               $('label[for=id_fev1_low]').html(llabel + '&nbsp;');
               $('label[for=id_fev1_high]').html(ulabel + '&nbsp;');
               $('label[for=id_fev1_low]').fadeIn(500);
               $('label[for=id_fev1_high]').fadeIn(500);
               $("#mysubmit").before("<br /> <br />");
            }
           else{
               $("#myform").find('br').remove();
               $("#id_fev1_low").hide();
               $("#id_fev1_high").hide();
               $('label[for=id_fev1_low]').hide();
               $('label[for=id_fev1_high]').hide();
               $("#id_comment").after("<br />");
               $("#id_choices").after("<br />");
               }
           });
    </script>
    <script>
        $(document).ready(function() {
        $('#rawtabled').DataTable({
           deferRender: true,
           responsive: true,
           data: {{ raw_json | safe }},
           lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
           language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search...",
                        lengthMenu: "Display _MENU_ records"
                     }
        });
    });
    </script>

    <script>
    $('input#mysubmit').click( function(e) {
      e.preventDefault();
      var form = $(this).closest("form");
      $.ajax({
        url: window.location.pathname,
        data: form.serialize(),
        type: "POST",
        dataType: 'json',
        success: function (data) {
          if (data.is_error) {
            alert(data.error);
          }
          else {
              {#alert(data.text);#}
              window.location.href = data.redirect_url;
          }
        }
      });
      return false;
    });
  </script>
{% endblock %}